@import "tailwindcss";

@theme inline {
  --color-opencream: #ffefd5;
  --color-openyellow: #fecb32;
  --color-openblue: #010066;
  --color-opengreen: #0db651;
  --color-openlightgreen: #b3f7cb;
  --font-family-mulish: "Mulish", sans-serif;
  --font-family-atomatic: var(--font-atomatic);
}

body {
  font-family: var(--font-mulish);
  background-image: url("/bglogo.webp");
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #020265;
  flex: 1;
}

.input-container {
  display: flex;
  align-items: center;
  /* background-color: green; */
  padding-top: 2rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 1.5em;
  width: 100%;
}

.input,
textarea,
select {
  width: 75%;
  color: black;
  background-color: whitesmoke;
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

input:focus {
  background-color: bisque;
  border: 1px solid red;
}

select:focus {
  background-color: bisque;
  border: 1px solid red;
}

.input-label {
  width: 25%;
}

textarea {
  resize: none;
  font-size: 1.3rem;
  height: 100px;
}

/* Style for calendar */
/* .fc {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
} */

/* target all calendar day cells */
.fc .fc-daygrid-day {
  background-color: rgba(255, 255, 255, 0.5);
}

/* target non-current month days (if they have a different shade) */
.fc .fc-day-other {
  background-color: transparent !important;
}

/* target time slots in Week/Day views */
.fc .fc-timegrid-slot,
.fc .fc-timegrid-col {
  background-color: transparent !important;
}

/* Calendar border colour */
.fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border-color: #010066 !important;
}

/*Current day highlighted*/
.fc-day-today {
  background: #fff45d !important;
  border: 2px solid #8a0404 !important;
}

/*Each day on the left*/
.fc-daygrid-day-number {
  float: left !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}

/* Equal height day cells with overflow */
.fc .fc-daygrid-day-frame {
  min-height: 200px;
  overflow: auto;
}

/*Other FullCalendar CSS */
.calendar-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 50px);
  flex: 1;
}

button {
  background-image: linear-gradient(#42a1ec, #0070c9);
  border: 1px solid #0077cc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  min-width: 30px;
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 1.2rem;
}

button:hover {
  background-image: linear-gradient(#51a9ee, #147bcd);
}

button:active {
  background-image: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}
