/*specific to app.js styles */

h1.banner {
  absolute: right;
  text-align: center;
  font-size: 2rem;
  color: #3b0ee5;
  margin-bottom: 20px;
}

.topnav {
  float: right;
  padding: 20px;
  margin-right: 50px;
  margin-top: 10px;
}

table.bookingtable {
  width: 90%;
  float: center;
  margin: auto;
}

table.bookingtable,
th,
td {
  font-size: 2rem;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

button.logoutbutton {
  background-color: #e50e0e;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 2rem;
  width: 5rem;
  padding: 0 10px;
  :hover {
    background-color: yellow;
  }
}

button.bookingbutton {
  background-color: #3b0ee5;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 4rem;
  width: 8rem;
  padding: 0 10px;
}
.bookingbutton:hover {
  background-color: rgb(20, 122, 90);
}
button.pupilbutton {
  font-size: 1rem;
  font-weight: 500;
  margin: 10px;
  border: 2px solid rgb(60, 66, 87);
  cursor: pointer;
  color: rgb(60, 66, 87);
  background-color: #fdd500;
  border-radius: 4px;

  padding: 4px 8px;
  display: inline-block;
  min-height: 28px;
  transition: background-color 0.24s, box-shadow 0.24s;
}

button.edited {
  border: 2px solid;
  margin: 2px;
}

button.edited:hover {
  background-color: rgb(194, 194, 194);
  border: 2px solid;
}
